/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --clr-text: #0F8CDF;
  --clr-like: #ff0000;
  --clr-retweet: #32cd32;
}

[data-theme="light"] {
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f9ffff;
  --clr-neutral-300: #d3d3d3;
  --clr-neutral-400: #999999;
  --clr-neutral-500: #555555;
  --clr-neutral-800: #232323;
  --clr-neutral-900: #000000;
}

[data-theme="dark"] {
  --clr-neutral-100: #000000;
  --clr-neutral-200: #232323;
  --clr-neutral-300: #555555;
  --clr-neutral-400: #999999;
  --clr-neutral-500: #d3d3d3;
  --clr-neutral-800: #f9ffff;
  --clr-neutral-900: #ffffff;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body, h1, h2, h3, p, span, div, button, a, i, textarea, ::placeholder {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 0.9274rem + 0.3226vw, 1.25rem);
  font-weight: 400;
  line-height: 1.2;
  color: var(--clr-neutral-800);
  background-color: var(--clr-neutral-100);
}

/* ---------- TYPOGRAPHY ----------*/

h1{
  margin-bottom: 10px;
  font-size: clamp(1.5rem, 1.4274rem + 0.3226vw, 1.75rem);
  font-weight: 700;
  color: var(--clr-text);
}

h1,
button {
  letter-spacing: 1.5px;
}

#theme {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  color: var(--clr-text);
}

#theme:hover,
#theme:focus {
  opacity: .7;
}

::placeholder {
  color: var(--clr-neutral-400);
}

.fa-solid {
  color: var(--clr-neutral-400);
}

.liked{
  color: var(--clr-like);
}

.retweeted {
color: var(--clr-retweet);
}

/* ---------- LAYOUT ----------*/

main, header{
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--clr-neutral-200);
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

/* ---------- COMPONENTS ----------*/

.profile-pic{
  border: 1px solid var(--clr-neutral-300);
  border-radius: 50%;
  width: 3em;
}

textarea{
  height: 4em;
  margin: 0 0 20px 0;
  padding: .5em;
  border: none;
  background-color: var(--clr-neutral-200);
  font-size: clamp(1.25rem, 1.2210rem + 0.1290vw, 1.35rem);
  line-height: 30px;
  resize: none;
}

textarea:focus {
  outline: none;
}

button{
  width: 100%;
  padding: .65em 1em;
  border: none;
  border-radius: 1em;
  background-color: var(--clr-text);
  font-size: clamp(1.25rem, 1.2210rem + 0.1290vw, 1.35rem);
  font-weight: 600;
  color: var(--clr-neutral-200);
}

button,
i,
.fa-moon-over-sun {
  cursor: pointer;
}

/* tweets */

.tweet {
  width: 100%;
  margin: 1em 0;
  padding: 20px 0 0 0;
  border-top: 1px solid var(--clr-neutral-300);
  scroll-snap-type: y mandatory !important;
  scroll-padding-top: 50vh;
  overflow: hidden;
}

.tweet-inner,
.tweet-reply .tweet-inner {
  display: flex;
  align-items: flex-start;
  flex: 1 1 100%;
  gap: 1em;
  width: 100%;
}

.tweet-details,
.reply-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweet-detail {
  display: flex;
  gap: .25rem;
}

.tweet-reply {
  width: 90%;
  margin: 10px 0 10px 40px;
  padding: 20px 0 0 0px;
  border-top: 1px solid var(--clr-neutral-300);
} 

.tweet-reply .tweet-inner {
  display: flex;
  min-width: 100%;
}

.tweet-content,
.reply-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 95%;
}

.handle{
  margin-top: 0;
  margin-bottom: .25em;
  font-weight: 500;
  color: var(--clr-neutral-500);
}

.tweet-text{
  margin-bottom: .25em;
  line-height: 20px;
}

.hidden {
  display: none;
}

/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 700px) {
  main, header {
    width: 70%;
  }
  .tweet-inner {
    gap: 2em;
  }
}
@media (min-width: 950px) {
  main, header {
    width: 40%;
  }
}