/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --clr-neutral-100: #f9ffff;
  --clr-neutral-200: lightgrey;
  --clr-neutral-300: #999999;
  --clr-neutral-500: #555555;
  --clr-neutral-800: #232323;
  --clr-neutral-900: #000000;
  --clr-text: #0F8CDF;
  --clr-like: red;
  --clr-retweet: limegreen;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, h1, h2, h3, p, span, div, button, a, i, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--clr-neutral-800);
  background-color: var(--clr-neutral-100);
}

/* ---------- TYPOGRAPHY ----------*/

h1{
  color: var(--clr-text);
  margin-bottom: 10px;
  font-size: 20px;
}

i{
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: var(--clr-neutral-300);
}

.liked{
  color: var(--clr-like);
}

.retweeted {
color: var(--clr-retweet);
}

/* ---------- LAYOUT ----------*/

main, header{
  width: 290px;
  margin: 0 auto;
}

header{
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* ---------- COMPONENTS ----------*/

.profile-pic{
  border: 1px solid var(--clr-neutral-200);
  border-radius: 50%;
  width: 48px;
}

textarea{
  border: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  resize: none;
}

button{
  background-color: var(--clr-text);
  border: none;
  color: var(--clr-neutral-100);
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%; 
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

/* tweets */

.tweet{
  border-top: 1px solid var(--clr-neutral-200);
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details{
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail{
  display: flex;
  gap: 4px;
}

.tweet-reply{
  border-top: 1px solid var(--clr-neutral-200);
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle{
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-neutral-500);
  margin-top: 0;
}

.tweet-text{
  width: 207px;
  font-size: 14px;
  line-height: 20px;
}


/* ---------- MEDIA QUERIES ----------*/